@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Caveat&family=Hedvig+Letters+Serif:opsz@12..24&display=swap"); */

@font-face {
  font-family: "Gaegu";
  src: url(/font/Gaegu/Gaegu-Bold.ttf) format("truetype");
}

.title-font {
  font-family: "Gaegu", cursive;
  letter-spacing: -0.07em;
}

p.customfont {
  font-family: "My Custom Font", Verdana, Tahoma;
}

html {
  scroll-behavior: smooth;
  background-color: #f5f6f3;
}
